@use "../../styles/variables.scss" as *;

.ContentCard {
    &__wrapper{
        background-color: $service-bg-color-red;
        border-radius: $service-size * 4;
        width: 280px;
        height: 365px;
    }
}