@use "../../../../styles/variables.scss" as *;

.MainHeader {
  // globalsに持つか検討必要
  $service-full-wide: 1040px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  z-index: 1000;
  width: $service-full-wide;
  background-color: rgb(255, 255, 255, 0.1);
  margin: $service-size * 6 auto;

  &__wrapper {
    display: flex;
    justify-content: center;
  }

  &__navigationWrapper {
    display: flex;
    margin-left: 300px;
    justify-content: center;
    align-items: center;
  }

  &__siteName {
    font-size: $service-font-size-xl;
    font-weight: bold;
    margin-left: $service-size * 6;
    text-shadow: $service-size * 2 $service-size 0 rgba(255, 163, 82, 0.3);
  }

  &__headerLink {
    font-size: $service-font-size-mf;
    font-weight: bold;
    margin-left: $service-size * 14;

    &:hover,
    &:visited,
    &:visited:hover {
      color: $service-bg-color-gray;
      opacity: $service-default-opacity;
    }
  }
}
