@use "../../../../styles/variables.scss" as *;

.MainHeader {
  // globalsに持つか検討必要
  $service-full-wide: 1040px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(10px);
  padding: $service-size * 3 0;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1040px;
    margin: 0 auto;
    padding: 0 $service-size * 4;
    width: 100%;
    box-sizing: border-box;
  }

  &__navigationWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: $service-size * 14;
  }

  &__siteName {
    font-size: $service-font-size-xl;
    font-weight: bold;
    text-shadow: $service-size * 2 $service-size 0 rgba(255, 163, 82, 0.3);
  }

  &__headerLink {
    font-size: $service-font-size-mf;
    font-weight: bold;

    &:hover,
    &:visited,
    &:visited:hover {
      color: $service-bg-color-gray;
      opacity: $service-default-opacity;
    }
  }
}
