@use "../../styles/variables.scss" as *;

.Top {
  &__imageWrapper {
    position: absolute;
    top: 72px; /* ヘッダーの高さ分のオフセット */
    left: 0;
    width: 100%;
    height: 600px; /* 画像の高さに合わせて調整 */
    z-index: -1;
    
    img {
      opacity: 0;
      animation: fadeIn 2s ease-in-out forwards;
    }
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
      filter: brightness(0.3);
    }
    100% {
      opacity: 1;
      filter: brightness(1);
    }
  }

  &__mainHeading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: $service-font-size-mf;
    font-weight: 700;
    color: #fff;
    text-align: center;
    color: white;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
  }

  &__mainLeadText {
    margin-top: 4 * $service-size;
  }

  // &__mainLogo {
  // }
}

.MainContent {
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: $service-size * 4; /* アイテム間のスペース */
    padding: $service-size * 4; /* コンテナのパディング */
    margin-top: 672px; /* ヘッダー画像の高さ(600px) + ヘッダーの高さ(72px)分マージンを追加 */
  }
}